body,html{
    height:100%;    
}
button{
    width: 50%;    
}   
.buttons-float{
    float: left;
}
.btnDavies{
    width: 30% !important;
}
.row{
    display: block !important;
    margin: auto !important;
}
.labelAlign{
    text-align:left;
    margin-left: 32%;
}
.host-resources-align-form{
    margin-left: 200px;
}
.p-mib{
    text-align: center;
    color: blue;
}